.login-page {

  min-height: 1080px;
  display: grid;
  grid-template-columns: 1280px 640px;
  justify-content: center;
  background: #ececec;
  overflow: auto;
}

@media (max-width: 1919px) {
  .login-page {
    min-height: 100vh;
    grid-template-columns: minmax(0, 2fr) minmax(340px, 1fr);
  }
}

@media (max-width: 980px) {
  .login-page {
    grid-template-columns: 1fr;
    overflow: auto;
  }
}

